@import url("fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-Nunito font-bold;
}

.header {
  @apply text-[48px] lg:text-[90px] font-BazarMedium text-center [text-shadow:1px_2px_#FCFAF7,3px_4px_#484A4D] mb-[0.33rem];
}

hr.top-dashed {
  @apply top-3;
}

hr.bottom-dashed {
  @apply bottom-3;
}

hr.top-dashed,
hr.bottom-dashed {
  @apply m-0 [border-top:1px_dashed_rgba(0,0,0,0.25)] [border-bottom:1px_dashed_rgba(255,255,255,0.25)] absolute bottom-3 z-10 w-full h-0;
}

.principle-container hr {
  @apply border-none bg-[rgba(56,58,60,0.9)] h-[3px] w-[40px] m-[0_auto_10px_auto];
}

/* ? BUTTON */
button {
  @apply xl:scale-125 relative text-[12px] font-bold p-[4px_8px_4px_12px] m-[0_6px_4px_12px] text-[#383A3C] bg-[#FCFAF7] 
  cursor-pointer [border-top-right-radius:3px] [border-bottom-right-radius:3px] [box-shadow:1px_1px_1px_rgba(0,0,0,0.2)] text-nowrap
  before:[content:""] before:float-left before:absolute before:top-0 before:-left-[12px] before:w-0 before:h-0 before:[border-color:rgba(0,0,0,0)_#FCFAF7_rgba(0,0,0,0)_rgba(0,0,0,0)]
  before:[border-style:solid] before:[border-width:12px_12px_12px_0]
  after:[content:""] after:absolute after:top-[11px] after:left-0 after:w-[4px] after:h-[4px] after:[border-radius:2px] after:bg-[#959CA3];
}

button.active {
  @apply bg-[#383A3C] text-[#FCFAF7] before:[border-color:rgba(0,0,0,0)_#383A3C_rgba(0,0,0,0)_rgba(0,0,0,0)];
}

/* ? FILTERABLES */
#filterables div.hide {
  @apply hidden;
}

/* ? NAVBAR NAVIGATION */

nav > div:nth-child(1) a {
  @apply max-md:block max-md:mb-2 max-md:border-slate-500/25 max-md:border-solid max-md:border-b-2;
}

.navigation-md {
  @apply max-md:block max-md:opacity-0 max-md:absolute max-md:top-[68px] max-md:left-0 max-md:bg-[#78bbbb] max-md:p-3;
}

.navigation-lg {
  @apply lg:flex lg:justify-center lg:items-center lg:gap-5;
}

.navigation-link {
  @apply text-xl lg:text-3xl font-medium font-BazarMedium text-slate-100;
}

/* ? HAMBURGER */
.hamburger-line {
  @apply h-[2px] w-[18px] bg-slate-600 duration-200;
}

#hamburger.active > div:nth-child(1) {
  @apply rotate-45;
}

#hamburger.active > div:nth-child(2) {
  @apply scale-0;
}

#hamburger.active > div:nth-child(3) {
  @apply -rotate-45;
}

/* ? HERO */

/* ? PRINCIPLE */
.principle-container {
  @apply px-3 flex flex-col justify-center items-center text-center;
}

.principle-icon {
  @apply flex justify-center items-center h-[150px] w-[150px] mb-[20px] rounded-[50%] bg-[#D35244] [box-shadow:inset_0_0_0px_4px_#D35244,inset_0_0_0_8px_#F5EEE3];
}
/* ? PRINCIPLE */

/* ? CARDS */
.card-container {
  @apply m-auto w-[320px] h-[480px] [perspective:1000px] scale-90 lg:scale-100;
}

.card {
  @apply relative w-full h-full transition-all duration-1000 [transform-style:preserve-3d] [backface-visibility:hidden] group-hover:[transform:rotateY(180deg)];
}

.card-face {
  @apply absolute inset-0 rounded-[16px];
}

.card-front {
  @apply h-full w-full object-cover;
}
/* ? CARDS */
